.callout {
  max-width: 400px;
  margin: 1rem;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  background-color: #224477;
  color: #ffffff;
  line-height: 1.4;
}

.callout img {
  float: right;
  margin: 0 0 1rem 1rem;
  border: 1px solid black;
  padding: 3px;
  width: 120px;
  height: auto;
  background-color: white;
}

blockquote {
	margin: 0;
}

cite {
  display: block;
  border-top: 1px dotted white;
  padding-top: 5px;
  text-align: right;
}

p{
  margin-top: 0;
}